.header{
    /* background-image: url('../public/images/Union.png'); */
    /*height: 650px;*/
    padding-top: 50px;
}

.bg-header{
    
    background: #dac8c8;
}


.title{
    margin-top: 120px;
    
    font-size: xx-large;
    font-weight: bold;
}


.button{
    border-radius: 15px;
    height: 50px;
    padding: 10px;
    width: 180px;
    margin-top: 8px;
}

.idea-button{
    background-color: transparent;
    border: 3px solid white;
    
}


.idea-button:hover{
    background-color: white;
    
}


.write-button{
    background-color: white;
    outline: none;
    border: none;

}


.write-button:hover{
    border: 3px solid white;
    background-color: transparent;
    
}


.bg-container{
    background: url('../public/images/bearh.png');
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
}



@media screen and (min-width: 720px) {
    .title{
       
        font-size: xx-large;
       
    }
    .write-button{
        font-size: 16px;

    }

    /* .header{
      
        /*height: 1050px;*/
        
   /* } */
  }

